.fjalla-one-regular {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}



.dancing-script {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    margin:0 5rem;
}
main{
    width:100%;
    margin: 0 auto;
    background-color: #ebeaea;
    height:100%;
}
header{
    width: 100%;
    margin:0 auto;
    display:inline-block;
    
}

nav {
    font-family:"fjalla One";
    text-decoration: none;
    background-color: rgb(100, 100, 182);
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*Need to write report on use of flex.*/
   
}
nav h1{
    color:white;
    font-size:24pt;
}
nav ul{
    width:100vw;
    margin:0 auto;
    
}
nav li{
    display:inline-block;
    vertical-align: center;
    margin:1rem;
}

nav .linkOrange{
    background-color:rgb(235, 151, 72);
    border: 2px rgb(226, 110, 64);
    border-radius:1rem;
    text-decoration: none;
    padding:.75rem;
    color:white;
}

.link{
    padding:.75rem;
    margin:.25rem;
    text-decoration: none;
    background-color:rgb(141, 141, 192);
    border: 2px rgb(103, 103, 143);
    border-radius:.75rem;
    color:white;
    
}
.link:hover {
    background-color:rgb(162, 162, 189);
    border: 2px rgb(103, 103, 143);
    border-radius:1rem;
    color:white;

}

footer{
    margin-top:2rem;
    padding:1rem;
    text-align: center;
    background-color: rgb(100, 100, 182);
    color:white;
}
footer p{
    color:white;
}
 
#logo{
    margin: .75rem;
    padding-left: 2rem;
    display:inline-block;
    height:80px;
    width:140px;
}
span{
    color:rgb(39, 39, 59);
    font-style: bold;
    text-decoration: underline;
    font-size: 14pt;
    font-family:"Fjalla One";
}
h1{
    color:rgb(61, 50, 91);
    font-family:"Fjalla One";
    text-align: center;
}
 h2, h3{
    color:rgb(247, 147, 54);
    font-family:"Fjalla One";
    text-align: center;
}
p{
    text-align: center;
    color:rgb(84, 84, 89);

}
.hq{
    background-color:rgb(207, 207, 236);
    border: 2px rgba(103, 103, 143, 0.858);
    margin:2rem;
    padding:1rem;
    border-radius:10rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.026);
}
iframe{
    display:block;
    margin: 0 auto;
    border: 2px rgb(103, 103, 143);
    border-radius:1rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.026);
    height:500px;
    width:80%;
}
section{
    display:inline-block;
}
#highlights{
    background-color:rgb(251, 235, 196);
    border: 2px rgba(103, 103, 143, 0.858);
    padding:1rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.026);
    margin: 0 auto;
}
#highlights p{
    text-align: center;
    margin:1rem;
    padding:.5rem;
    display:inline-block;
    width:28%;
    vertical-align: center;
    background-color:rgb(245, 242, 238);
    border: 2px rgba(103, 103, 143, 0.858);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.026);

}
#highlightsContainer{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
#adoptionLounge, #admin, #greenSpace{
    padding:1rem 0;
    width:99%;
    height:100%;
    vertical-align: top;
    
}
#mainShelter{
    width:100%;
    height:300px;
}
#address{
    font-size: 14pt;
    color:rgb(39, 39, 59);
    font-weight: bold;
    text-decoration: underline;
    font-family:"Fjalla One";
}
.additionalLocations{
   width:100%;
}
.Locations{
    list-style-type: none;
    padding:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 2rem;
}
#links{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
    padding:3rem;
}
#links li{
list-style-type: none;
}
 #links a{
    font-family:"fjalla One";
    text-decoration: none;
    background-color:rgb(142, 106, 241);
    padding:1rem;
    color:white;
    border-radius:.3rem;
}
#links a:hover{
    font-family:"fjalla One";
    background-color:rgb(98, 184, 255);
    color:white;
    padding:1rem;
    border-radius:.3rem;
}