.fjalla-one-regular {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}



.dancing-script {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    margin:0 5rem;
}
main{
    width:100%;
    margin: 0 auto;
    background-color: #ebeaea;
    height:100%;
}
header{
    width: 100%;
    margin:0 auto;
    display:inline-block;
    
}

nav {
    font-family:"fjalla One";
    text-decoration: none;
    background-color: rgb(100, 100, 182);
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*Need to write report on use of flex.*/
   
}
nav h1{
    color:white;
    font-size:24pt;
}
nav ul{
    width:100vw;
    margin:0 auto;
    
}
nav li{
    display:inline-block;
    vertical-align: center;
    margin:1rem;
}

nav .linkOrange{
    background-color:rgb(235, 151, 72);
    border: 2px rgb(226, 110, 64);
    border-radius:1rem;
    text-decoration: none;
    padding:.75rem;
    color:white;
}

.link{
    padding:.75rem;
    margin:.25rem;
    text-decoration: none;
    background-color:rgb(141, 141, 192);
    border: 2px rgb(103, 103, 143);
    border-radius:.75rem;
    color:white;
    
}
.link:hover {
    background-color:rgb(162, 162, 189);
    border: 2px rgb(103, 103, 143);
    border-radius:1rem;
    color:white;

}

footer{
    margin-top:2rem;
    padding:1rem;
    text-align: center;
    background-color: rgb(100, 100, 182);
    color:white;
}
footer p{
    color:white;
}
 
#logo{
    margin: .75rem;
    padding-left: 2rem;
    display:inline-block;
    height:80px;
    width:140px;
}

h1{
    color:rgb(61, 50, 91);
    font-family:"Fjalla One";
    text-align: center;
}
 h2, h3{
    color:rgb(247, 147, 54);
    font-family:"Fjalla One";
    text-align: center;
}
p{
    text-align: center;
    color:rgb(84, 84, 89);

}
img{
    width:100%;
}
table{
    width:100%;
    border-collapse: collapse;
    margin: 2rem auto;
}
th, td{
    padding: 8px;
    text-align: center;
}
td img{
    width:100%;
    
}
td{
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}


.image-section2 {
    margin:0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1.5rem;
   
}
.week{
    background-color:rgb(214, 221, 255);
    border: 2px rgb(163, 182, 223);
    border-radius:1rem;
    padding:2rem;
    color:white;
}