.fjalla-one-regular {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.dancing-script {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    margin:0 5rem;
}
main{
    width:100%;
    margin: 0 auto;
    background-color: #ebeaea;
}
header{
    width: 100%;
    margin:0 auto;
    display:inline-block;  
}
nav {
    font-family:"fjalla One";
    text-decoration: none;
    background-color: rgb(100, 100, 182);
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h1{
    color:white;
    font-size:24pt;
}
ul{
    width:100vw;
    margin:0 auto;
}
li{
    display:inline-block;
    vertical-align: center;
    margin:1rem;
}

.link {
    padding: .75rem;
    text-decoration: none;
    background-color: rgb(141, 141, 192);
    border: 2px rgb(103, 103, 143);
    border-radius: 1rem;
    color: white;
    letter-spacing: .3px;
}
.linkOrange {
    background-color: rgb(235, 151, 72);
    border: 2px rgb(226, 110, 64);
    border-radius: 1rem;
    text-decoration: none;
    padding: .75rem;
    color: white
}
.link:hover {
    background-color: rgb(162, 162, 189);
    border: 2px rgb(103, 103, 143);
    border-radius: 1rem;
}
footer{
    margin-top:2rem;
    padding:1rem;
    text-align: center;
    background-color: rgb(100, 100, 182);
}
footer>p {
    color: white;
}
#logo{
    margin: .75rem;
    padding-left: 2rem;
    display:inline-block;
    height:80px;
    width:140px;
}
h1 {
    color:rgb(61, 50, 91);
    font-family:"Fjalla One";
    text-align: center;
}
h2 {
    font-family:"Fjalla One";
    text-align: center;
    color:rgb(247, 147, 54);
}
h3 {
    font-family:"Fjalla One";
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
}
p {
    font-family:"Fjalla One";
    color:rgb(84, 84, 89);
    margin: 0px 2rem;
}
.orangeDiv {
    border: 2px solid orange;
    background-color: #FFDBBB;
    padding-bottom: 16px;
    margin-bottom: 25px;
    margin: 1.5rem;
}
.purpleDiv {
    border: 2px solid purple;
    background-color: #DAB1DA;
    padding-bottom: 16px;
    margin-bottom: 25px;
    margin: 1.5rem;
}
.orangeText {
    color:rgb(247, 147, 54);
}
.purpleText {
    color: #602AB9
}
.orangeDiv>p, .purpleDiv>p {
    text-align: center;
}
.sectionImage {
    display: block;
    margin: 0px auto;
    width:30%;
    height:30%;
}
#introPara {
    text-align: center;
    font-size: 1.25rem;
}
#mainStoryArea {
    background-color: #DBEDFF;
    border: 1px solid darkblue;
    padding: 1rem;
    margin: 1.5rem;
}
.storyButtonsArea>form {
    text-align: center;
    padding-bottom: 1rem;
}
#storyPup {
    font-family:"Fjalla One";
    color: #602AB9;
    text-align: center;
    font-size: 18px;
    text-decoration: underline;
}
#storyImg {
    display: block;
    margin: 0px auto;
    width:20%;
    height:20%;
}
#storyDesc {
    font-family:"Fjalla One";
    color:rgb(84, 84, 89);
    text-align: center;
    font-size: 14px;
    font-style: italic;
}
#storyButton {
    padding: .75rem;
    text-decoration: none;
    background-color: rgb(128, 128, 236);
    border: 4px dotted rgb(7, 7, 148);
    border-radius: 1rem;
    color: white;
    letter-spacing: .3px;
    font-family: "Fjalla One", sans-serif;
    margin: 10px auto;
    margin: 0px .5rem;
}
#storyButton:hover {
    background-color: rgb(106, 106, 241);
    border: 4px dotted rgb(3, 3, 83);
}
#storyArea {
    border: 2px solid blueviolet;
    background-color: #C8C7F7;
    border-radius: 1rem;
}
.linkButton {
    text-align: center;
    padding: .75rem;
    text-decoration: none;
    background-color: rgb(126, 152, 221);
    border-radius: 1rem;
    color: white;
    letter-spacing: .3px;
    font-family: "Fjalla One", sans-serif;
    display: block;
    margin: 10px auto;
    width: 20%;
}
.linkButton:hover {
    padding: .75rem;
    font-family:"fjalla One";
    text-decoration: none;
    background-color:rgb(98, 184, 255);
    border-radius: 1rem;
    color: white;
    letter-spacing: .3px;
}
#triviaArea {
    background-color: #b8d5f3;
    border: 1px solid rgb(2, 2, 70);
    padding: 1rem 8rem;
    margin: 3rem;
}
.triviaForm>form {
    text-align: center;
    padding-bottom: 1rem;
    background-color: #e7f3ff;
    border: 2px solid rgb(3, 3, 179);
}
legend {
    text-decoration: underline;
    font-size: 1.2rem;
    margin: 0;
    margin-top: 1rem;
}
table {
    width: 60%;
    margin: 10px auto;
    border: 1px dotted rgb(36, 36, 82);;
}
#triviaButton {
    padding: .75rem;
    text-decoration: none;
    background-color: rgb(87, 149, 241);
    border: none;
    border-radius: 1rem;
    color: white;
    letter-spacing: .3px;
    font-family: "Fjalla One", sans-serif;
    display: block-inline;
    margin: 10px auto;
}
#triviaButton:hover {
    background-color: rgb(78, 78, 179);
    border: none;
}
