.fjalla-one-regular {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.dancing-script {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    margin:0 5rem;
}
main{
    width:100%;
    margin: 0 auto;
    background-color: #ebeaea;

}
header{
    width: 100%;
    margin:0 auto;
    display:inline-block;  
}
nav {
    font-family:"fjalla One";
    text-decoration: none;
    background-color: rgb(100, 100, 182);
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h1{
    color:white;
    font-size:24pt;
}
ul{
    width:100vw;
    margin:0 auto;
    
}
li{
    display:inline-block;
    vertical-align: center;
    margin:1rem;
}

.link {
    padding: .75rem;
    text-decoration: none;
    background-color: rgb(141, 141, 192);
    border: 2px rgb(103, 103, 143);
    border-radius: 1rem;
    color: white;
    letter-spacing: .3px;
}
.linkOrange {
    background-color: rgb(235, 151, 72);
    border: 2px rgb(226, 110, 64);
    border-radius: 1rem;
    text-decoration: none;
    padding: .75rem;
    color: white
}
.link:hover {
    background-color: rgb(162, 162, 189);
    border: 2px rgb(103, 103, 143);
    border-radius: 1rem;
    color: white;
}
footer{
    margin-top:2rem;
    padding:1rem;
    text-align: center;
    background-color: rgb(100, 100, 182);
    color:white;
}
#logo{
    margin: .75rem;
    padding-left: 2rem;
    display:inline-block;
    height:80px;
    width:140px;
}
h1 {
    color:rgb(61, 50, 91);
    font-family:"Fjalla One";
    text-align: center;
}
h2 {
    font-family:"Fjalla One";
    text-align: center;
    color:rgb(247, 147, 54);
}
h3 {
    font-family:"Fjalla One";
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
}
p {
    font-family:"Fjalla One";
    color:rgb(84, 84, 89);
}
#introPara {
    text-align: center;
    font-size: 1.25rem;
}
#eventPhotoArea {
    text-align: center;
    padding: 8px 5px 3px 9px;
    width: 646px;
}
#eventPhotoArea img {
    width: 646px;
    height: 434px;
    border-radius: 2rem;
    padding: 4px;
    margin: 5px 2px;
}
#eventPhotoArea figcaption {
    position: absolute;
    top: 905px;
    left: 250px;
    width: 600px;
    height: 70px;
    background-color: floralwhite;
    font-family: "Fjalla One";
    font-size: 150%;
    font-weight: bold;
    opacity: 0;
    padding: 22px 2px 2px 2px;
    text-align: center;
    display: block;
    border-radius: 1rem;
}
.eventGallery {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin: 2rem;
    background-color: #DBEDFF;
    border: darkblue 2px solid;
}
#eventTitle {
    text-align: center;
    font-size: 1.3rem;
    font-family: "Fjalla One";
    color:#602AB9;
}
#eventDescription {
    text-align: center;
}
.eventButton {
    background-color:rgb(141, 141, 192);
    border-radius:1rem;
    color:white;
    padding:1rem;
    font-weight: bold;
}
.eventButton:hover {
    background-color:rgb(219, 165, 129);
}
.newsArea {
    border: 2px solid orange;
    background-color: #FFDBBB;
    padding-bottom: 16px;
    margin-bottom: 25px;
}
