body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #dad8d8;
}
main{
        width:100%;

}
header{
    background-size: cover;
    width: 100%;
    height:600px;
    margin:0 auto;
    display:inline-block;
}

nav {
    text-decoration: none;
    background-color: rgb(100, 100, 182);
    width:100%;
    margin: 0 auto;
    
    /*Need to write report on use of flex.*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h1{
    width:1000px;
    color:white;
}
ul{
    width:100%;
    margin:0 auto;
    
}
li{
    display:inline-block;
    vertical-align: center;
    margin:2rem;
}

nav a{
    background-color:rgb(235, 151, 72);
    border: 2px rgb(226, 110, 64);
    border-radius:1rem;
    text-decoration: none;
    padding:1rem;
    margin-left: 20rem;
    color:white
}

.link{
    padding:1rem;
    margin:.25rem;
    text-decoration: none;
    background-color:rgb(141, 141, 192);
    border: 2px rgb(103, 103, 143);
    border-radius:1rem;
    
}
.link:hover {
    background-color:rgb(162, 162, 189);
    border: 2px rgb(103, 103, 143);
    border-radius:1rem;
}
.cover{
background-image:url("../images/animalShelterCover1.jpeg ");
 background-size: cover;
padding:3rem;
height:500px;
} 
footer{
    margin:0 auto;
}

 
#logo{
    margin: 1rem;
    padding-left: 2rem;
    display:inline-block;
    height:100px;
    width:160px;
}