.fjalla-one-regular {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}



.dancing-script {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    margin:0 5rem;
}
main{
        width:100%;
        margin: 0 2rem;

}
header{
    width: 100%;
    height:800px;
    margin:0 auto;
    display:inline-block;
}

nav {
    font-family:"fjalla One";
    text-decoration: none;
    background-color: rgb(100, 100, 182);
    width:100%;
    margin: 0 auto;
    
    /*Need to write report on use of flex.*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h1{
    color:white;
}
ul{
    width:100vw;
    margin:0 auto;
    
}
li{
    display:inline-block;
    vertical-align: center;
    margin:1rem;
}

nav a{
    background-color:rgb(235, 151, 72);
    border: 2px rgb(226, 110, 64);
    border-radius:1rem;
    text-decoration: none;
    padding:1rem;
    color:white
}

.link{
    padding:1rem;
    margin:.25rem;
    text-decoration: none;
    background-color:rgb(141, 141, 192);
    border: 2px rgb(103, 103, 143);
    border-radius:1rem;
    
}
.link:hover {
    background-color:rgb(162, 162, 189);
    border: 2px rgb(103, 103, 143);
    border-radius:1rem;
}
.cover{
background-image:url("../images/animalShelterCover2.jpeg ");
 background-size: cover;
padding:3rem;
height:500px;
} 
footer{
    margin:0 auto;
}

 
#logo{
    margin: 1rem;
    padding-left: 2rem;
    display:inline-block;
    height:100px;
    width:160px;
}
#statement
{
    display:inline-block;
    font-family: "Dancing Script", cursive;
    color:rgb(255, 255, 255);
    font-size: 24pt;
    margin-top:7rem;
    text-shadow:2px 2px 3px rgb(11, 10, 10);
    background-color:rgba(48, 62, 63, 0.169) ;
    padding:.5rem;
    border-radius: 1rem;
}