.fjalla-one-regular {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}



.dancing-script {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    margin:0 5rem;
    min-width:500px
}
main{
    width:100%;
    margin: 0 auto;
    background-color: #ebeaea;
    height:100%;
}
header{
    width: 100%;
    margin:0 auto;
    display:inline-block;
    
}

nav {
    font-family:"fjalla One";
    text-decoration: none;
    background-color: rgb(100, 100, 182);
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*Need to write report on use of flex.*/
   
}
nav h1{
    color:white;
    font-size:24pt;
}
nav ul{
    width:100vw;
    margin:0 auto;
    
}
nav li{
    display:inline-block;
    vertical-align: center;
    margin:1rem;
}

nav .linkOrange{
    background-color:rgb(235, 151, 72);
    border-radius:1rem;
    text-decoration: none;
    padding:.75rem;
    color:white;
}

.link{
    padding:.75rem;
    margin:.25rem;
    text-decoration: none;
    background-color:rgb(141, 141, 192);
    border-radius:.75rem;
    color:white;
    
}
.link:hover {
    background-color:rgb(162, 162, 189);
    border-radius:1rem;
    color:white;

}

footer{
    margin-top:2rem;
    padding:1rem;
    text-align: center;
    background-color: rgb(100, 100, 182);
    color:white;
}
footer p{
    color:white;
}
 
#logo{
    margin: .75rem;
    padding-left: 2rem;
    display:inline-block;
    height:80px;
    width:140px;
}

h1{
    color:rgb(61, 50, 91);
    font-family:"Fjalla One";
    text-align: center;
}
 h2, h3{
    color:rgb(247, 147, 54);
    font-family:"Fjalla One";
    text-align: center;
}

p{
    color:rgb(84, 84, 89);
    margin:1rem;
}
img{
    width:100%;
    height:100%;
    max-height:500px;
}
.Opportunities ul{
    list-style-type: none;
    padding: 1rem;
    text-align:center;
}
.Opportunities li{
    display:inline-block;
    box-sizing:border-box;
    margin:0.5rem;
    padding:6rem 1rem 1rem 1rem;
    width:300px;
    height:250px;
    vertical-align:top;
    text-align:center;
    font-family: "Fjalla One";
    font-size:24pt;
    color:rgb(255, 255, 255);
}
#Adult{
    background-image:url("../images/dayVol.jpg");
   
}
#Youth{
    background-image:url("../images/kidVol.png");
   
}
#Foster{
    background-image:url("../images/fosterVol.jpg");
   
}
#Groups{
    background-image: url("../images/groupVol.png");
}
#Adult, #Youth, #Foster, #Groups{
    background-size: cover;
    background-position: center;
    height:250px;
    width:300px;
    background-repeat: no-repeat;
    overflow: hidden; 
}

.signUpButtton {
    display: inline-block;
    width: auto;
    margin:1rem auto;
    background-color:rgb(235, 151, 72);
    border-radius:1rem;
    text-decoration: none;
    padding:.75rem 1rem;
    color:white;
    border:none;
    font-family:"Fjalla One";
    font-size:12pt;
    text-align:center;
}
.signUpButtton:hover {
    background-color:rgb(128, 7, 250);
    border-radius:1rem;
    color:white;
}

.adult img, .youth img, .foster img, .groups img{
    height:200px;
    width: 300px;
    margin:0 auto;
    display:block;
    border-radius:15rem;
    border: 8px solid rgb(152, 107, 224);

}

#form p{
    padding:0 2rem;
}
#volunteerForm{
    display:block;
    width:50%;
    margin:0 auto;
    background-color:rgb(254, 187, 123);
    padding:2rem 1rem;
    color:white;
    text-align: center;
    border-radius:7rem;
    font-size: 16pt;
    line-height: 4rem;
    border: 12px dotted rgb(204, 179, 245);
}
input[type="submit"]{
    display:inline-block;
    margin:1rem auto;
    background-color:rgb(235, 151, 72);
    border-radius:1rem;
    text-decoration: none;
    padding:.75rem 1rem;
    color:white;
    border:none;
    font-family:"Fjalla One";
    font-size:12pt;
    text-align:center;
}
input[type="submit"]:hover{
    background-color:rgb(250, 125, 7);
    border-radius:1rem;
    color:white;
}

input[type="reset"]{
    display:inline-block;
    margin:1rem auto;
    background-color:rgb(141, 141, 192);
    border-radius:1rem;
    text-decoration: none;
    padding:.75rem 1rem;
    color:white;
    border:none;
    font-family:"Fjalla One";
    font-size:12pt;
    text-align:center;
}
input[type="reset"]:hover{
    background-color:rgb(109, 109, 209);
    border-radius:1rem;
    color:white;
}